h1 {
    font-family:'Times New Roman', Times, serif;
    font-weight: 500;
    text-align: center;
    color:crimson;
    font-size: 24px;
}
h3, h4 {
    font-family:'Times New Roman', Times, serif;
    text-align: center;
    font-size: 20px;
    text-decoration-line: underline;     
}
.img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}
.link {
    display: grid;
    place-items: center;
    font-size: 18px;
}
.text {
    text-align: center;
    font-size: 18px;
}

